.from-top{
    margin-top: 100px;
}
.card{
    border: none;
}
.btn btn-primary{
    border-radius: 2px;
}
.card-title-1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 86px;
line-height: 88px;
/* or 102% */
letter-spacing: -1px;
}

.card-text-1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    
    /* Neutral[300] */
    color: #9893A3;
}

.card-title-2{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 64px;
/* or 107% */

letter-spacing: -1px;
/* Neutral[500] */
color: #2F2E41;
}

.card-text-2{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
/* or 170% */

/* Neutral[300] */
color: #9893A3;
}

.card-text-22{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: -1px;

/* Neutral[500] */

color: #2F2E41;
}

.back-black{
    background-color: #2F2E41;
}

.card-title-3{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 64px;
/* or 107% */
letter-spacing: -1px;
color: white;
}

section{
    background-color: rgba(236, 235, 255, 0.6);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6-b{
    width: 900px;
    height: 300px;
}

.col-2-b{
    width: 186px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
}
li{
    list-style: none;
}

footer{
    background-color: rgba(236, 235, 255, 0.6);
}